
@font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: "YoungSerif";
    src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    margin-bottom: 4rem;
}

img {
    width: 100%;
}

section, hr {
    margin: 2rem;
}

h1 {
    font-family: "YoungSerif", serif;
    font-size: 2rem;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}

h2 {
    font-family: "YoungSerif", serif;
    font-weight: 400;
    font-size: 1.75rem;
    color: hsl(14, 45%, 36%);
}

p {
    font-size: 1rem;
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);
}

.prep-time {
    background-color: hsl(330, 100%, 98%);
    font-family: "Outfit";
    padding: 1rem;
    border-radius: 12px;
}

h3, ul, ol {
    color: hsl(332, 51%, 32%);
}

.instructions ol {
    font-weight: bold;
}

.instructions span {
    font-weight: normal;
}

span {
    display: block;
}

li {
    margin-bottom: 1rem;
}

span {
    color: hsl(30, 10%, 34%);
    font-family: "Outfit";
}

.instructions li {
    font-family: "Outfit";
}

.ingredients ul, .ingredients span, .instructions ol, .instructions span {
    padding-left: 1rem;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

tr {
    margin-bottom: 1rem;
}

td {
   font-family: "Outfit";
   padding: 1rem;
   color: hsl(30, 10%, 34%);
   border-bottom: 1px solid hsl(30, 10%, 34%);
}

td:nth-child(even) {
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}

.last-row-data {
    border: none;
}

footer {
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}

footer div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    align-content: baseline;
}

footer a {
    text-decoration: none;
    color: hsl(30, 10%, 34%);
}

footer span {
    display: inline;
    font-size: normal;
    color: hsl(332, 51%, 32%);
}

@media screen and (max-width: 768px) {
    .image-section {
        margin: 0;
    }
}

@media screen and (min-width: 1440px) {

    body {
        background-color: hsl(30, 54%, 90%);
    }

    .container {
        background-color: hsl(0, 0%, 100%);
        margin: 10vh 25vw;
        border-radius: 12px;
        padding-top: 0.25em;
    }   

    section {
        margin: 2rem;
    }

    img {
        border-radius: 12px;
        height: 40vh;
    }

    p, li, h3, span {
        font-size: 1.25rem;
    }
}